<div ng-controller="PaymentMethodRemove">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Hapus Produk Kategori</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Nama Pembayaran</th>
                <td>{{data.payment_method_name}}</td>                
            </tr>
            <tr>
                <th>Deskripsi Pembayaran</th>
                <td>{{data.payment_method_desc}}</td>                
            </tr>            
            <tr>
                <td colspan="2">
                    <button class="btn btn-flat btn-danger" ng-click="remove(data.payment_method_id)">
                        <i class="fa fa-trash" />
                    </button>
                </td>
            </tr>
            </tbody></table>
        </div>
        <!-- /.box-body -->
    </div>
</div>